PORT="4000"
WEBHOOK_PORT="4001"
NODE_ENV="production"
HTTPS_KEY_PATH="path_to_your_ssl_key.pem"
HTTPS_CERT_PATH="path_to_your_ssl_cert.pem"
DATABASE_URL="your_postgres_database_url"
JWT_SECRET="your_private_secret"
JWT_EXPIRES_IN="1h"
